---
---
@charset "utf-8";

$primary-color: #1869e6;
$gore-blue: #1667E6;
$gore-yellow: #ECC30B;
$gore-teal: #84BCDA;
$gore-red: #B24C63;
$gorange: #F37748;
$gore-green: #5AAD6A;
$gore-purple: #8D6A9F;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


// sidebar customs

.fa-linkedin-in {
    color: black;
}

p {
    font-family: $sans-serif;
}

.greedy-nav .visible-links a:before{
    background: #1155cc;
}

.toc .nav__title {
    background: $primary-color;
}
